<!DOCTYPE html>
<html>
    <head>
    <title>{% block title %}Home {% endblock title %} </title>
    {% load static %}
    {% block head_meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head_meta %}

    {% block head_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% endblock head_css %}

    {% block head_js %}
        <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endblock head_js %}

</head>
<body class="lime lighten-5">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">Logo</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="{% url 'shopee_spider:index'%}">INDEX</a></li>
            <li><a href="{% url 'shopee_spider:following_items'%}">FOLLOWING</a></li>
            <li><a href="{% url 'shopee_spider:abandoned_items'%}">ABANDONED</a></li>
          </ul>
        </div>
      </nav>
    {% block content %}  
    {% endblock content %}
</body>