{% extends "shopee/base.html" %}
{% block head_css %}
	{% load static %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static "shopee/main.css" %}">
{% endblock head_css %}
{% block content %}
<br>
<br>	
	<main id="control-panel" class="container">
	{# Searching #}
		<div class="actions">
			<form action="" method="POST">
				{% csrf_token %}
				<input id="search_keyword" name="search_keyword" type="text" placeholder="Search Some Item." required>
				<input class="btn yellow lighten-3 black-text" type="submit" value="搜尋 Marshall 資料">	
			</form>
			
		</div>
		{# Searching End#}
		<br>

	{# Searching History #}
		<div class="center">
			{# {% for tag in tags %} #}
				<button class="btn">Marshall</button>
				<button class="btn">Bose</button>
				<button class="btn">JBL</button>
			{# {% endfor %} #}
		</div>
		<br>
		{# Searching History End #}

	{# Information Panel #}
		<div id="information-panel" class="">
			<p class="split-button center">
				<span class="btn-large disabled">有 ?? 筆新商品上架了</span>    <span class=" pink btn-large">有 ?? 筆商品下架</span></p>
			
			<br>
			
			<p>目前追蹤中的關鍵字有： ？？？ ？？？ ？？？ ？？？</p>
			<p>最後全部更新時間</p>

		</div>
		{# Information Panel End#}
	</main>
	

	<br>
	<div class="divider"></div>

	
	<div class="container overwrite">

		{# NEW ITEM BLOCK #}
		{% if new_items %}
			<h1>new_items</h1>
		{% endif %}
		<ol>
			{% for item in new_items %}
				{# {% if not item.abandoned %} #}
					<li class="">
						<div>
							<img class="item-image" src="https://cf.shopee.tw/file/{{ item.image }}" alt="item image"><br>
							{ item.name }}
							<br>
							{{ item.price }}
						</div>
					</li>
					<br>
				{# {% endif %} #}
			{% endfor %}
		</ol>
		<br>
		{# NEW ITEM BLOCK END#}

		{# OLD ITEM BLOCK #}

		{# INFO DESK #}
		<h3>最新更新</h3>


		<h3>所有物件</h3>
		<div class="info-desk">
			<div><strong>items counts:</strong> {{ items_counts }} items in DB	</div>
		</div>
		
		
		{# Cards #}
		<div class="row">
		{% for item in items %}
			{% if not item.abandoned %}
				<div class="col s12 m4">
					<div class="card overwrite {% if item.abandoned %}abandoned{% endif %} {% if item.following %} following{% endif %} {% if item.updated %}updated{% endif %}">
						<div class="card-image">
							<img src="https://cf.shopee.tw/file/{{ item.image }}" alt="">
						</div>
						<div class="card-content">
							<span class="card-title overwrite">
								<a  class="not_truncate" href="{{item.url}}">
									{{ item.name }}
								</a>
							</span>
							<p id="item-{{item.id}}" class="price">{{ item.price }}</p>
						</div>
						<div class="card-action">
							<a href="{% url 'shopee_spider:abandoned' item.id %}">
								{% if item.abandoned %}
									On list
								{% else %}
									Trash
								{% endif %}
							</a>
							<br>
							<a href="{% url 'shopee_spider:following' item.id %}">
								{% if item.following %}
									Following
								{% else %}
									Or not
								{% endif %}
							</a>
							<br>
							Upd: {{item.updated}}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	{# OLD ITEM BLOCK END#}

</div>
<script>
	

	$(document).ready(function(){
		$(".price").click(function(){
			$(this).css("background-color", "rgb(255, 255, 0)");
		});

    	$(".trigger-action").click(function(){
			var ids = []; // idsString;
			$(".price").each( function() {
				if ($(this).css("background-color") == "rgb(255, 255, 0)") {
					ids.push(this.id);
				}
			});	
			console.log("Tagged=" , ids);
			// idsString = ids.join('&');
			// $("#page").get("ajax_file.php?" + idsString);
 		});
	});
</script>















{% endblock content %}