{% extends "shopee/base.html" %}
{% block head_css %}
	{% load static %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static "shopee/main.css" %}">
{% endblock head_css %}
{% block content %}
<br>
<br>	
	<div class="container overwrite">
		
		{# INFO DESK #}
		<div class="info-desk">
			<button class="trigger-action btn">用來批量處理的按鈕</button>

			<div><strong>items counts:</strong> {{ items_counts }} items in DB	</div>
		</div>
		{# INFO DESK END #}
		
		{# OLD ITEM BLOCK #} {# Cards #}
		<div class="row">  {# ROW #}
		{% for item in items %}
			
				<div class="col s12 m4">
					<div class="card overwrite {% if item.abandoned %}abandoned{% endif %} {% if item.following %} following{% endif %} {% if item.updated %}updated{% endif %}">
						<div class="card-image">
							<img src="https://cf.shopee.tw/file/{{ item.image }}" alt="">
						</div>
						<div class="card-content">
							<span class="card-title overwrite">
								<a  class="not_truncate" href="{{item.url}}">
									{{ item.name }}
								</a>
							</span>
							<p id="item-{{item.id}}" class="price">{{ item.price }}</p>
						</div>
						<div class="card-action">
							<a href="{% url 'shopee_spider:abandoned' item.id %}">
								{% if item.abandoned %}
									On list
								{% else %}
									Trash
								{% endif %}
							</a>
							<br>
							<a href="{% url 'shopee_spider:following' item.id %}">
								{% if item.following %}
									Following
								{% else %}
									Or not
								{% endif %}
							</a>
							<br>
							Upd: {{item.updated}}
						</div>
					</div>
				</div>
		{% endfor %}
	</div> {# ROW END#}
	{# OLD ITEM BLOCK END#} {# CARDS END #}

</div>
<script>
	

	$(document).ready(function(){
		$(".price").click(function(){
			$(this).css("background-color", "rgb(255, 255, 0)");
		});

    	$(".trigger-action").click(function(){
			var ids = []; // idsString;
			$(".price").each( function() {
				if ($(this).css("background-color") == "rgb(255, 255, 0)") {
					ids.push(this.id);
				}
			});	
			console.log("Tagged=" , ids);
			// idsString = ids.join('&');
			// $("#page").get("ajax_file.php?" + idsString);
 		});
	});
</script>















{% endblock content %}