.abandoned {
	/*display: none;*/
	background-color: #FFCEDF;
}
.following {
	background-color: #FFEBCE;
}
.updated {
	background-color: #CEFFD1;
}

img.item-image {
	width: 15em;
	height:auto;
}
.btn {
	width: 10em;
	height:10em;
}